<header
  class="flex h-16 shrink-0 items-center justify-end border-b border-slate-light bg-background px-8"
>
  @if (user(); as currentUser) {
  <div class="flex items-center gap-4">
    <!-- User information -->
    <div class="text-end">
      <p class="text-sm font-semibold leading-tight text-slate-dark">
        {{ currentUser.user_metadata.name }}
      </p>

      <p class="text-tiny font-extrabold uppercase text-primary">
        {{ currentUser.user_metadata.job_title }}
      </p>
    </div>

    <!-- Avatar -->
    <div
      class="grid size-10 shrink-0 place-items-center rounded-md bg-primary-container text-sm font-semibold text-white"
      [attr.aria-label]="currentUser.user_metadata.name"
    >
      {{ getUserInitials(currentUser.user_metadata.name) }}
    </div>
  </div>
  }
</header>
