<a
  [routerLink]="['/projects', id(), 'epics']"
  class="flex h-full w-full flex-col rounded-lg border border-slate-200 bg-white p-5 transition hover:border-primary hover:shadow-sm"
>
  <h3 class="text-lg font-bold text-slate-900">
    {{ name().length > 26 ? (name() | slice: 0 : 26) + '...' : name() }}
  </h3>

  <p class="mt-2 line-clamp-3 text-sm text-slate-500">{{ description() }}</p>

  <div class="mt-auto pt-4 pb-3 flex items-center gap-4">
    <a
      [routerLink]="['/projects', id(), 'epics']"
      class="flex items-center gap-1.5 text-xxs font-semibold leading-4 text-primary"
    >
      <img src="assets/icons/epics-primary.svg" alt="" class="size-4.5" />
      Epics
    </a>

    <a
      [routerLink]="['/projects', id(), 'tasks']"
      class="flex items-center gap-1.5 text-xxs font-semibold leading-4 text-primary"
    >
      <img src="assets/icons/tasks-primary.svg" alt="" class="size-4.5" />
      Tasks
    </a>

    <a
      [routerLink]="['/projects', id(), 'members']"
      class="flex items-center gap-1.5 text-xxs font-semibold leading-4 text-primary"
    >
      <img src="assets/icons/members-primary.svg" alt="" class="size-4.5" />
      Members
    </a>

    <a
      [routerLink]="['/projects', id(), 'edit']"
      class="flex items-center gap-1.5 text-xxs font-semibold leading-4 text-primary"
    >
      <img src="assets/icons/details.svg" alt="" class="size-4.5" />
      Details
    </a>
  </div>

  <div class="mt-auto flex items-center justify-between border-t border-slate-100 pt-3">
    <span class="text-xs font-medium tracking-wide text-slate-400"> CREATED AT </span>

    <span class="text-xs font-semibold text-slate-600"> {{ createdAt() | date: 'd MMM y' }} </span>
  </div>
</a>
