<div class="flex min-h-screen w-screen">
  <!-- Sidebar -->
  <aside class="shrink-0 bg-surface-low">
    <app-sidebar [mobileMenuOpen]="sidebarOpen()" (closeMobileMenu)="closeSidebar()" />
  </aside>

  <!-- Right side wrapper -->
  <div class="flex min-w-0 flex-1 flex-col bg-background">
    <!-- Header -->
    <header class="shrink-0">
      <app-header (menuToggle)="toggleSidebar()" />
    </header>

    <!-- Content -->
    <main class="min-h-0 flex-1 overflow-y-auto pb-16 lg:pb-0">
      <div class="pt-6 pb-4 px-7 hidden lg:block">
        <app-breadcrumb />
      </div>
      <router-outlet />
    </main>
  </div>
  <app-footer />
</div>
